{{!

    Licensed to the Apache Software Foundation (ASF) under one
    or more contributor license agreements.  See the NOTICE file
    distributed with this work for additional information
    regarding copyright ownership.  The ASF licenses this file
    to you under the Apache License, Version 2.0 (the
    "License"); you may not use this file except in compliance
    with the License.  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing,
    software distributed under the License is distributed on an
    "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
    KIND, either express or implied.  See the License for the
    specific language governing permissions and limitations
    under the License.

    tutorial.gsp: A main area with a right aside for TOCs and tutorial sections.

}}
<!doctype html>
<html class="no-js" lang="en" dir="ltr">
  {{>head}}
  <body>
    {{>menu}}
    {{>news}}
    <div class='grid-container main-content tutorial'>
      <h1 class="sect0">{{{page.title}}}</h1>
            {{#unless page.attributes.reviewed }}
            <div class="sectionbody">
              <div class="admonitionblock note">
                <table>
                  <tbody><tr>
                  <td class="icon"><i class="fa icon-note" title="Note"></i></td>
                  <td class="content">This tutorial needs a review. 
                     You can <a href="{{{page.editUrl}}}" title="Edit this tutorial in github">edit it in GitHub </a>
                     following these <a href="{{siteRootPath}}/tutorial/main/kb/docs/contributing.html">contribution guidelines.</a></td>
                  </tr></tbody>
                </table>
              </div>
            </div>
            {{ else }}
            <div class="sectionbody">
              <div class="paragraph">
                <p class='reviewed'><i class="fa fa-check-circle"></i> Last reviewed on {{{ page.attributes.reviewed }}}</p>
              </div>
            </div>
            {{/unless}}
        {{{page.contents}}}
        {{>tools}}
    </div>
    {{>footer}}
    {{>scripts}}
  </body>
</html>
